* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.arry_container {
  width: 350px;
  height: 100px;
  padding: 2rem 1rem;
}
.arry_caption {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.arry_caption > h2 {
  font-size: 1.3rem;
  font-weight: 300;
  padding-bottom: 1rem;
}
.logo_container {
  display: grid;
  place-items: center;
}
.arry_logo {
  width: 300px;
  height: 60%;
}
.arry_footer {
  font-size: 1.2rem;
  background-color: black;
  padding: 0.5rem;
  color: #fff;
}
