* {
  padding: 0;
  margin: 0;
  border: 0;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
p {
  font-size: 1.3rem;
}
#arr_container {
  display: grid;
  place-items: center;
  margin-top: 2%;
}
.arr_display {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}
.arrMethod,
.arrUseCase,
.arrDesc {
  font-size: 1.3rem;
}
#arrMethod,
.arrUseCase, .arrDesc {
  font-weight: 200;
}
.arrDesc {
  line-height: 1.5;
  padding: 1.5rem 10%;
}
