* {
  padding: 0;
  margin: 0;
  border: 0;
  color: #fff;
}

.heading_container {
  display: grid;
  place-items: center;
  color: #fff;
}
.main_heading,
.sub_heading {
  padding-top: 5%;
}
.main_heading {
  font-size: 1.5rem;
}
.sub_heading {
  font-size: 1.2rem;
  line-height: 1.5;
  padding: 2rem 6rem;
}
.arrDetails_Container {
  display: grid;
  place-items: center;
}
.arrMethod,
.arrDesc,
.arrEgs,
.arrUseCase {
  font-size: 1.3rem;
  text-align: center;
}
.arrDesc {
  padding-top: 2rem;
}
